@use '../util' as u;

.button {
  display: inline-block;
  background-color: var(--color-green);
  color: var(--color-purple);
  font-weight: 700;
  line-height: 1.7;
  border: u.rem(3) solid transparent;
  padding-block: u.rem(13) u.rem(16);
  padding-inline: u.rem(32);
  transition: 200ms ease-in-out;
  transition-property: background-color, color, border-color;

  &:hover {
    background-color: var(--color-purple);
    color: var(--color-green);
    border-color: var(--color-green);
  }
}
