//////////////////////
// Colors variables //
//////////////////////
:root {
  --color-purple: hsl(273, 85%, 13%);
  --color-green: hsl(150, 100%, 63%);
  --color-gray: hsl(271, 12%, 34%);
  --color-white: hsl(276, 100%, 100%);
}
