@use '../util/' as u;

.hero {
  position: relative;
  background-color: var(--color-purple);
  text-align: center;
  margin-block-end: clamp(
    u.rem(64),
    3.1594827586206895rem + 3.5862068965517238vw,
    u.rem(90)
  );

  &::before,
  &::after {
    display: block;
    position: absolute;
    content: '';
    background-size: contain;
    background-repeat: no-repeat;

    @include u.breakpoint-down(small) {
      display: none;
    }
  }

  &::before {
    inset-block-start: 20%;
    inline-size: u.rem(270);
    block-size: u.rem(217);
    background-image: url('../../assets/images/bg-pattern-1.svg');
  }

  &::after {
    inline-size: u.rem(130);
    block-size: u.rem(135);
    inset-block-start: 20%;
    inset-inline-end: 0;
    background-image: url('../../assets/images/bg-pattern-2.svg');
  }

  &__headline {
    color: var(--color-white);
    margin-block-end: u.rem(40);
    max-inline-size: 16ch;
    margin-inline: auto;
  }

  &__headline--green {
    color: var(--color-green);
  }

  &__button {
    line-height: 1.7;
    margin-block-end: u.rem(50);
  }

  &__image-wrapper {
    background-image: linear-gradient(
      var(--color-purple) 50%,
      var(--color-white) 50%
    );
    padding-inline: u.rem(32);
  }

  &__image {
    position: relative;
    z-index: 1;
    margin-inline: auto;
  }
}
